:root {
  --White-color: #ffffff;
  --Black-color: #000000;
  --Gray-color: #7a7a7a;
  --transparent-gray: #7a7a7a4d;
  --gray-color-background: #f5f5f7;
}

.section {
  margin: 100px 0;
}

.types__section {
  padding: 0;
}

/*Cards*/
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 50px 0;
}

.card {
  width: 250px;
  border-radius: 20px;
  box-shadow: 0.25rem 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid var(--transparent-gray);
}

.card img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
}

.card h3 {
  font-size: 21px;
  text-align: center;
}

.laptop__product {
  width: 90%;
}

.card__btns {
  padding: 20px 0;
}

/*end of Cards*/

/*Sections2*/

.section2 {
  background-color: var(--Black-color);
  color: var(--White-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.section2 img {
  margin: 25px 0;
}

.Larg__logo {
  width: 50%;
  max-width: 450px;
}

.section2 p {
  margin: 20px 0;
}

/*End of section2*/

/*section3*/
.section3 {
  margin-bottom: 0;
}

.heading_title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.heading__section3 h3 {
  font-size: 28px;
  margin: 10px 0;
}

.heading__section3 h2 {
  font-size: 65px;
  margin: 10px 0;
  width: 550px;
  font-weight: bold;
  background: linear-gradient(135deg, #52c5ff, #9f82ff, #f95960, #ff9e0c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading_title p {
  width: 750px;
  font-size: 24px;
  color: var(--Gray-color);
}

.section3__images {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
  overflow: hidden;
}

.section3__images img {
  flex-shrink: 0;
  height: auto;
  width: 100%;
}

.max1 {
  flex-basis: 330px;
}

.max2 {
  flex-basis: 255px;
}

.max3 {
  flex-basis: 205px;
}
/*End of section3*/

/*section4*/

.section4 {
  background-color: var(--gray-color-background);
  padding: 50px 0;
  margin-top: 0;
}

.heading__section4 h2 {
  font-size: 65px;
  margin: 10px 0;
  width: 550px;
  font-weight: bold;
  background: linear-gradient(135deg, #cf807f, #ea6f7d, #0d8eb4, #0d4e4e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section4__images {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 100px 0;
  gap: 10px;
}

.section4__images img {
  width: 255px;
  height: auto;
}

.mid__sect4Img {
  transform: translateY(75px);
}

/*End of section4*/

/*section5*/

.heading__section5 h2 {
  font-size: 65px;
  margin: 10px 0;
  width: 550px;
  font-weight: bold;
  background: linear-gradient(135deg, #339aaf, #2e76db, #1b175f, #6f57b4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section5__images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  gap: 15px;
}

.section5__images img {
  max-width: 525px;
  min-width: 200px;
  width: 30%;
  height: auto;
}

/*End of section5*/

/*section6*/
.section6 {
  background-color: var(--gray-color-background);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.heading__section6 h2 {
  font-size: 65px;
  margin: 10px 0;
  width: 550px;
  font-weight: bold;
  background: linear-gradient(135deg, #021b8b, #1e84d9, #bd83a2, #ef6f33);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section6__images {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow-x: hidden;
  padding: 50px 0;
  max-width: 1700px;
}

.section6__images img:first-child {
  transform: translateX(25%);
}

.section6__images img:last-child {
  transform: translateX(-25%);
}

.section6__images img {
  width: 40%;
}

.z__forward {
  width: 30%;
}

.z__forward {
  z-index: 1;
}

/*End of section6*/

/*Section7*/

.section7 {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading__section7 h2 {
  font-size: 65px;
  margin: 10px 0;
  width: 550px;
  font-weight: bold;
  background: linear-gradient(135deg, #1ab7a1, #3d2da9, #a53a9f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section7__images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px 0;
  padding-top: 50px;
  max-width: 1800px;
}

.section7__images img {
  width: 15%;
  height: auto;
}

.y_axes {
  transform: translateY(150px);
}

/*End of Section7*/

/*section8*/
.heading__section8 h2 {
  font-size: 65px;
  margin: 10px 0;
  width: 550px;
  font-weight: bold;
  background: linear-gradient(135deg, #ff6148, #e15c96, #4153e0, #7d7feb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section8 {
  padding: 50px 0;
  background-color: var(--gray-color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section8__images {
  padding: 50px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1700px;
  object-fit: cover;
}

.section8__images img {
  width: 90%;
}

/*end of section8*/

@media screen and (max-width: 1275px) {
  .section4__images img {
    width: 200px;
    height: auto;
  }
}

@media screen and (max-width: 1250px) {
  /*cards start*/
  .slider__cards {
    overflow: auto;
    scroll-snap-type: x mandatory;
  }

  .cards {
    display: inline-flex;
    white-space: nowrap;
    padding: 0 20px;
    transition: transform 0.5s ease-in-out;
  }

  /*end of cards*/
}

@media screen and (max-width: 1024px) {
  /*section 3*/

  .max1 {
    max-width: 30%;
  }

  .max2 {
    max-width: 20%;
  }

  .max3 {
    max-width: 15%;
  }

  /*end of section 3*/

  /*section4*/

  .section4__images img {
    width: 168px;
  }

  /*end of section4*/
}

@media screen and (max-width: 890px) {
  .hide__onMobile {
    display: none;
  }

  .section4__images img {
    width: 200px;
  }

  .mid__sect4Img {
    transform: translateY(0);
  }

  /*section7*/

  .section7__images {
    gap: 5px;
  }

  .section7__images img {
    width: 20%;
  }

  .section7__images img:last-child,
  .section7__images img:first-child {
    display: none;
  }

  /*end of section7*/
}

@media screen and (max-width: 768px) {
  .heading_title h2 {
    font-size: 45px;
    width: auto;
  }

  .heading_title p {
    width: auto;
    font-size: 20px;
  }
}

@media screen and (max-width: 730px) {
  .section5__images {
    justify-content: center;
    gap: 30px;
    overflow-x: hidden;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .section4__images img {
    width: 150px;
    flex-shrink: 0;
  }

  .section4__images {
    justify-content: space-between;
    overflow-x: hidden;
    width: 100%;
    padding: 50px 0;
  }

  .mid__sect4Img {
    z-index: 1;
  }
}

@media screen and (max-width: 460px) {
  /*section2*/
  .VWDC24 {
    width: 100%;
  }
  /*end of section2*/

  /*section4*/
  .section4__images {
    justify-content: center;
  }
  /*end of section4*/
}
